BOT_TOKEN=your_bot_token_here
PERMISSIONS=8
OWNER_ID=0

SYNC_COMMANDS_ON_STARTUP=false
LOG_LEVEL=INFO

DISCORD_INVITE_LINK=https://discord.nafmc.xyz/

JOIN_CHANNEL_ID=0
LEAVE_CHANNEL_ID=0
BOOST_CHANNEL_ID=0
